<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contento - Not Found</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="/css/contento.css">
  </head>
  <body>
    <div class="container text-light">
      <h1 class="display-4">
        <div><%= gettext("404. Not Found") %>!</div>
      </h1>
      <p class="lead">
        <%= gettext("Sorry, we couldn't find the page you're trying to access...") %>
      </p>
      <p>
        <%= gettext("You may want to go to the ") %> <a href="/c" class="text-light"><%= gettext("back-office") %></a> <%= gettext("or to your ") %> <a href="/" class="text-light"><%= gettext("website homepage") %></a>.
      </p>
    </div>
  </body>
</html>
