<div class="row">
  <article class="mt-2 col-sm-8"> 
    <h2 class="simplo-title display-4">
      <span><%= @post.title %></span>
    </h2>
    <div class="mt-4">
      <%= md_as_html(@post.content) %>
    </div>
    <p>
      <small>
        <em>Published at <%= @post.published_at %> by <a href="/authors/<%= @post.author.handle %>"><%= @post.author.name %></a>.</em>
      </small>
    </p>
  </article>
  <aside class="sidebar col-sm-4 p-1">
    <h3>Blog Posts</h3>
    <ul>
      <%= for p <- @posts do %>
        <li>
          <a href="<%= website_path(@conn, :show_post, p.slug) %>">
            <%= p.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
</div>
