<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <span><%= gettext("Pages") %></span>
</div>

<div class="content">
  <h1 class="header">
    <div><%= gettext("Pages") %></div>
    <div>
      <a href="<%= admin_page_path(@conn, :new) %>" class="btn btn-sm btn-primary">
        <%= gettext("New Page") %>
      </a>
    </div>
  </h1>

  <%= if info = get_flash(@conn, :info) do %>
    <%= case info do %>
      <% :created -> %>
        <div class="alert alert-success">
          <%= gettext("Page successfully created") %>
        </div>
      <% :deleted -> %>
        <div class="alert alert-success">
          <%= gettext("Page successfully deleted") %>
        </div>
    <% end %>
  <% end %>

  <%= if length(@pages) > 0 do %>
    <div class="list-group">
      <%= for page <- @pages do %>
        <a href="<%= admin_page_path(@conn, :show, page) %>" class="list-group-item">
          <strong><%= page.title %></strong> by <em><%= page.author.name %></em>
          <br />
          <span><%= website_url(@conn, :show_page, page.slug) %></span>
        </a>
      <% end %>
    </div>

    <%= render ContentoWeb.LayoutView, "pagination.html", conn: @conn, total_pages: @total_pages,
                                                          page_number: @page_number %>
  <% else %>
    <div class="alert alert-info">
      <%= gettext("No pages found...") %>
    </div>
  <% end %>
</div>
