<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <a href="<%= admin_user_path(@conn, :index) %>">
    <%= gettext("Users") %>
  </a>
  <span><%= @user.name %></span>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-8">
      <%= if info = get_flash(@conn, :info) do %>
        <%= case info do %>
          <% :updated -> %>
            <div class="alert alert-success">
              <%= gettext("User successfully updated") %>
            </div>
        <% end %>
      <% end %>

      <%= render "form.html", roles: @roles, changeset: @changeset, action: admin_user_path(@conn, :update, @user) %>
    </div>
    <div class="col-md-4">
      <h1 class="header">
        <div><%= gettext("Info") %></div>
      </h1>

      <ul class="list-group">
        <li class="list-group-item">
          <%= if last_login_at = @user.last_login_at do %>
            <strong><%= gettext("Last login") %>:</strong>
            <%= timeago(last_login_at) %>
          <% else %>
            <em>Never Logged In</em>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= if joined_at = @user.joined_at do %>
            <strong><%= gettext("Joined") %>:</strong>
            <%= timeago(joined_at) %>
          <% else %>
            <em>Not Activated</em>
          <% end %>
        </li>
        <li class="list-group-item">
          <strong><%= gettext("Inserted") %>:</strong>
          <%= timeago(@user.inserted_at) %>
        </li>
        <li class="list-group-item">
          <strong><%= gettext("Updated") %>:</strong>
          <%= timeago(@user.updated_at) %>
        </li>
      </ul>

      <div class="mt-3">
        <%= link gettext("Delete User"), to: admin_user_path(@conn, :delete, @user),
                                         method: :delete, class: "text-danger",
                                         data: [confirm: gettext("Are you sure you want to delete this user?")] %>
      </div>
    </div>
  </div>
</div>
