<div>
  <h1 class="header">
    <div><%= gettext("Theme Details") %></div>
  </h1>

  <%= form_for @changeset, @action, [multipart: true], fn f -> %>
    <div class="form-group">
      <%= label f, :name, gettext("Theme Name") %>
      <%= text_input f, :name, class: input_class(f, :name) %>
      <%= input_errors f, :name %>
    </div>

    <div class="form-group">
      <%= label f, :alias, gettext("Theme Alias") %>
      <%= text_input f, :alias, class: input_class(f, :alias) %>
      <%= input_errors f, :alias %>
    </div>

    <div class="form-group">
      <%= label f, :description, gettext("Description") %>
      <%= text_input f, :description, class: input_class(f, :description) %>
      <%= input_errors f, :description %>
    </div>

    <h1 class="header">
      <div><%= gettext("Upload Liquid Archive") %></div>
    </h1>

    <div class="form-group"> 
      <%= label f, :theme_file, gettext("Liquid Theme Archive") %>
      <%= file_input f, :theme_file, class: input_class(f, :theme_file) %>
      <%= input_errors f, :theme_file %>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">
        <%= gettext("Save") %>
      </button>
    </div>
  <% end %>
</div>
