<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <a href="<%= admin_theme_path(@conn, :index) %>">
    <%= gettext("Themes") %>
  </a>
  <span><%= @theme.name %></span>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-8">
      <%= if info = get_flash(@conn, :info) do %>
        <%= case info do %>
          <% :applied -> %>
            <div class="alert alert-success">
              <%= gettext("Theme successfully applied") %>
            </div>
          <% :updated -> %>
            <div class="alert alert-success">
              <%= gettext("Theme successfully updated") %>
            </div>
        <% end %>
      <% end %>

      <p class="lead">
        <%= @theme.description %>
      </p>

      <%= if @settings.theme_id != @theme.id do %>
        <div class="content">
          <%= render "form.html", changeset: @changeset, action: admin_theme_path(@conn, :update, @theme) %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h1 class="header">
        <div><%= gettext("Info") %></div>
      </h1>

      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= gettext("Installed") %>:</strong>
          <%= timeago(@theme.inserted_at) %>
        </li>
        <li class="list-group-item">
          <%= if @settings.theme_id == @theme.id do %>
            <a href="#" class="btn btn-block btn-primary disabled">
              Current Theme
            </a>
          <% else %>
            <%= form_for @conn, admin_settings_path(@conn, :update_theme), [as: :setting, method: "put"], fn f -> %>
              <%= hidden_input(f, :theme_id, value: @theme.id) %>
              <button type="submit" class="btn btn-block btn-primary">
                Apply Theme
              </button>
            <% end %>
          <% end %>
        </li>
      </ul>

      <div class="mt-3">
      <%= if @settings.theme_id != @theme.id do %>
        <%= link gettext("Delete Theme"), to: admin_theme_path(@conn, :delete, @theme),
                                        method: :delete, class: "text-danger",
                                        data: [confirm: gettext("Are you sure you want to delete this theme?")] %>
      <% end %>
      </div>
    </div>
  </div>
</div>
