use Mix.Config

# Configure Database
config :contento, Contento.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "contento_dev",
  hostname: "localhost",
  pool_size: 10

# Configure Guardian
config :contento, Contento.Guardian,
  issuer: "contento_dev",
  secret_key: "<%= @guardian_secret_key %>"

# Configure Bamboo
config :contento, Contento.Mailer,
  adapter: Bamboo.LocalAdapter
