use Mix.Config

# Configure Endpoint
config :contento, ContentoWeb.Endpoint,
  secret_key_base: "<%= @endpoint_secret_key %>"

# Configure Database
config :contento, Contento.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "contento_dev",
  hostname: "localhost",
  pool_size: 10

# Configure Guardian
config :contento, Contento.Guardian,
  issuer: "contento_dev",
  secret_key: "<%= @guardian_secret_key %>"

# Configure Bamboo
config :contento, Contento.Mailer,
  adapter: Bamboo.SMTPAdapter,
  server: {:system, "SMTP_SERVER"},
  port: {:system, "SMTP_PORT"},
  username: {:system, "SMTP_USERNAME"},
  password: {:system, "SMTP_PASSWORD"},
  tls: :if_available, # can be `:always` or `:never`
  allowed_tls_versions: [:"tlsv1", :"tlsv1.1", :"tlsv1.2"],
  ssl: false, # can be `true`
  retries: 1
