<div>
  <h1 class="header">
    <div><%= gettext("Permission Details") %></div>
  </h1>

  <%= form_for @changeset, @action, fn f -> %>
    <div class="form-group">
      <%= label f, :view, gettext("View") %>
      <%= text_input f, :view, class: input_class(f, :view) %>
      <%= input_errors f, :view %>
    </div>
    <!-- Need to add check boxes/radio buttons for permissions -->
    <div class="form-group">
      <%= gettext("Read : ") %>
      <%= checkbox f, :read %>
      <%= gettext("Add : ") %>
      <%= checkbox f, :add %>
      <%= gettext("Edit : ") %>
      <%= checkbox f, :edit %>
      <%= gettext("Remove : ") %>
      <%= checkbox f, :remove %>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">
        <%= gettext("Save") %>
      </button>
    </div>
  <% end %>
</div>
