<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <span><%= gettext("Permissions") %></span>
</div>

<div class="content">
  <h1 class="header">
    <div><%= gettext("Permissions") %></div>
    <div>
      <a href="<%= admin_permission_path(@conn, :new) %>" class="btn btn-sm btn-primary">
        <%= gettext("New Permission") %>
      </a>
    </div>
  </h1>

  <%= if info = get_flash(@conn, :info) do %>
    <%= case info do %>
      <% :created -> %>
        <div class="alert alert-success">
          <%= gettext("Permission successfully created") %>
        </div>
      <% :deleted -> %>
        <div class="alert alert-success">
          <%= gettext("Permission successfully deleted") %>
        </div>
    <% end %>
  <% end %>

  <%= if length(@permissions) > 0 do %>
    <div class="list-group">
      <%= for p <- @permissions do %>
        <a href="<%= admin_permission_path(@conn, :show, p) %>" class="list-group-item">
          <strong><%= p.view %> ( <%= if true == p.read do "Read" end %><%= if true == p.add do "|Add" end %><%= if true == p.edit do "|Edit" end %><%= if true == p.remove do "|Remove" end %> )</span>
        </a>
      <% end %>
    </div>

    <%= render ContentoWeb.LayoutView, "pagination.html", conn: @conn, total_pages: @total_pages,
                                                          page_number: @page_number %>
  <% else %>
    <div class="alert alert-info">
      <%= gettext("No permissions found...") %>
    </div>
  <% end %>
</div>
