<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <a href="<%= admin_permission_path(@conn, :index) %>">
    <%= gettext("Permissions") %>
  </a>
  <span><%= gettext("New") %></span>
</div>

<div class="content">
  <%= render "form.html", changeset: @changeset, action: admin_permission_path(@conn, :create) %>
</div>
