<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <a href="<%= admin_permission_path(@conn, :index) %>">
    <%= gettext("Permissions") %>
  </a>
  <span><%= @permission.view %></span>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-8">
      <%= if info = get_flash(@conn, :info) do %>
        <%= case info do %>
          <% :updated -> %>
            <div class="alert alert-success">
              <%= gettext("Permission successfully updated") %>
            </div>
        <% end %>
      <% end %>

      <%= render "form.html", changeset: @changeset, action: admin_permission_path(@conn, :update, @permission) %>
    </div>
    <div class="col-md-4">
      <h1 class="header">
        <div><%= gettext("Info") %></div>
      </h1>

      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= gettext("Inserted") %>:</strong>
          <%= timeago(@permission.inserted_at) %>
        </li>
        <li class="list-group-item">
          <strong><%= gettext("Updated") %>:</strong>
          <%= timeago(@permission.updated_at) %>
        </li>
      </ul>

      <div class="mt-3">
        <%= link gettext("Delete Permission"), to: admin_permission_path(@conn, :delete, @permission),
                                         method: :delete, class: "text-danger",
                                         data: [confirm: gettext("Are you sure you want to delete this permission?")] %>
      </div>
    </div>
  </div>
</div>
