<div>
  <ul>
    <%= for post <- @posts do %>
      <li>
        <a href="<%= website_path(@conn, :show_post, post.slug) %>">
          <%= post.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
