<div>
  <h2 class="post-title">
    <%= @page.title %>
  </h2>
  <div class="page-content">
    <%= md_as_html(@page.content) %>
  </div>
  <div class="page-meta">
    <p><small><em>Published at <%= @page.published_at %>.</em></small></p>
  </div>
</div>
