<div>
  <h2 class="post-title">
    <%= @post.title %>
  </h2>
  <div class="post-content">
    <%= md_as_html(@post.content) %>
  </div>
  <div class="post-meta">
    <p><small><em>Published at <%= @post.published_at %>.</em></small></p>
  </div>
</div>
