<div>
  <h1 class="header">
    <div><%= gettext("Role Details") %></div>
  </h1>

  <%= form_for @changeset, @action, fn f -> %>
    <div class="form-group">
      <%= label f, :name, gettext("Name") %>
      <%= text_input f, :name, class: input_class(f, :name) %>
      <%= input_errors f, :name %>
    </div>

    <div class="form-group">
      <%= label f, :handle, gettext("Handle") %>
      <%= text_input f, :handle, class: input_class(f, :handle) %>
      <%= input_errors f, :handle %>
    </div>

    <h1 class="header">
      <div><%= gettext("Role Users") %></div>
    </h1>
    <div class="form-group">
      <%= label f, :users, gettext("Users") %>
      <%= #multiple_select f, :users, @users, class: input_class(f, :users) %>
      <select id="roleusers" name="roleusers" multiple="multiple" class="form-control">
      <%= for u <- @users do %>
        <option value=<%= u.id %>><%= u.handle %> ( <%= u.email %> )</option>
      <%= end %>
      </select>
      <%= input_errors f, :users %>
    </div>

    <h1 class="header">
      <div><%= gettext("Role Permissions") %></div>
    </h1>

    <div class="form-group">
      <%= label f, :permissions, gettext("Permissions") %>
      <%= # multiple_select f, :permissions, @permissions, class: input_class(f, :permissions) %>
      <select id="rolepermissions" name="rolepermissions" multiple="multiple" class="form-control">
      <%= for p <- @permissions do %>
        <option value=<%= p.id %>><%= p.view %> ( <%= if true == p.read do "Read" end %><%= if true == p.add do "|Add" end %><%= if true == p.edit do "|Edit" end %><%= if true == p.remove do "|Remove" end %> )</option>
      <%= end %>
      </select>
      <%= input_errors f, :permissions %>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">
        <%= gettext("Save") %>
      </button>
    </div>
  <% end %>
</div>
