<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <span><%= gettext("Roles") %></span>
</div>

<div class="content">
  <h1 class="header">
    <div><%= gettext("Roles") %></div>
    <div>
      <a href="<%= admin_role_path(@conn, :new) %>" class="btn btn-sm btn-primary">
        <%= gettext("New Role") %>
      </a>
    </div>
  </h1>

  <%= if info = get_flash(@conn, :info) do %>
    <%= case info do %>
      <% :created -> %>
        <div class="alert alert-success">
          <%= gettext("Role successfully created") %>
        </div>
      <% :deleted -> %>
        <div class="alert alert-success">
          <%= gettext("Role successfully deleted") %>
        </div>
    <% end %>
  <% end %>

  <%= if length(@roles) > 0 do %>
    <div class="list-group">
      <%= for role <- @roles do %>
        <a href="<%= admin_role_path(@conn, :show, role) %>" class="list-group-item">
          <strong><%= role.name %></strong> - <span><%= role.handle %></span>
        </a>
      <% end %>
    </div>

    <%= render ContentoWeb.LayoutView, "pagination.html", conn: @conn, total_pages: @total_pages,
                                                          page_number: @page_number %>
  <% else %>
    <div class="alert alert-info">
      <%= gettext("No roles found...") %>
    </div>
  <% end %>
</div>
