<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <a href="<%= admin_role_path(@conn, :index) %>">
    <%= gettext("Roles") %>
  </a>
  <span><%= gettext("New") %></span>
</div>

<div class="content">
  <%= render "form.html", users: @users, permissions: @permissions, changeset: @changeset, action: admin_role_path(@conn, :create) %>
</div>
