<div class="breadcrumbs">
  <a href="<%= admin_dashboard_path(@conn, :index) %>">
    <%= gettext("Contento") %>
  </a>
  <a href="<%= admin_role_path(@conn, :index) %>">
    <%= gettext("Roles") %>
  </a>
  <span><%= @role.name %> (<%= @role.handle %>) </span>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-8">
      <%= if info = get_flash(@conn, :info) do %>
        <%= case info do %>
          <% :updated -> %>
            <div class="alert alert-success">
              <%= gettext("Role successfully updated") %>
            </div>
        <% end %>
      <% end %>

      <%= render "form.html", users: @users, permissions: @permissions, changeset: @changeset, action: admin_role_path(@conn, :update, @role) %>
    </div>
    <div class="col-md-4">
      <h1 class="header">
        <div><%= gettext("Info") %></div>
      </h1>

      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= gettext("Inserted") %>:</strong>
          <%= timeago(@role.inserted_at) %>
        </li>
        <li class="list-group-item">
          <strong><%= gettext("Updated") %>:</strong>
          <%= timeago(@role.updated_at) %>
        </li>
      </ul>

      <div class="mt-3">
        <%= link gettext("Delete Role"), to: admin_role_path(@conn, :delete, @role),
                                         method: :delete, class: "text-danger",
                                         data: [confirm: gettext("Are you sure you want to delete this role?")] %>
      </div>
    </div>
  </div>
</div>
